<!DOCTYPE HTML>
<html>
	<head>
		<title>Laura and Nick - Accommodations</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600|Source+Code+Pro" rel="stylesheet" />
		<!--[if lte IE 8]><script src="js/html5shiv.js" type="text/javascript"></script><![endif]-->
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js">
		{
			prefix: 'css/style',
			preloadStyleSheets: true,
			resetCSS: true,
			boxModel: 'border',
			grid: { gutters: 30 },
			breakpoints: {
				wide: { range: '1200-', containers: 1140, grid: { gutters: 50 } },
				narrow: { range: '481-1199', containers: 960 },
				mobile: { range: '-480', containers: 'fluid', lockViewport: true, grid: { collapse: true } }
			}
		}
		</script>
		<script>
			$(function() {

				// Note: make sure you call dropotron on the top level <ul>
				$('#main-nav > ul').dropotron({
					offsetY: -10 // Nudge up submenus by 10px to account for padding
				});

			});
		</script>
		<script>
			// DOM ready
			$(function() {

			// Create the dropdown base
			$("<select />").appendTo("nav");

			// Create default option "Go to..."
			$("<option />", {
				"selected": "selected",
				"value"   : "",
				"text"    : "Menu"
			}).appendTo("nav select");

			// Populate dropdown with menu items
			$("nav a").each(function() {
			var el = $(this);
			$("<option />", {
				"value"   : el.attr("href"),
				"text"    : el.text()
			}).appendTo("nav select");
			});

			// To make dropdown actually work
			// To make more unobtrusive: http://css-tricks.com/4064-unobtrusive-page-changer/
			$("nav select").change(function() {
				window.location = $(this).find("option:selected").val();
			});

			});
		</script>
	</head>
	<body>
		<div id="header_container">
		    <div class="container">
			<!-- Header -->
				<div id="header" class="row">

					<nav id="main-nav" class="8u">
						<ul>
							<li><a href="{{ url_for('home') }}">Home</a></li>
							<li><a href="{{ url_for('ourstory') }}">Our Story</a></li>
							<li><a class="active" href="{{ url_for('accommodations') }}">Accommodations</a></li>
							<li><a href="{{ url_for('rsvp') }}">RSVP</a></li>
							<li><a href="{{ url_for('visitinfo') }}">Things to Do</a></li>
                            <li><a href="{{ url_for('beers') }}">Nick's Brew</a></li>
							<li><a href="{{ url_for('registry') }}">Registry</a></li>
						</ul>
					</nav>
				</div>
			</div>

		</div>

		<div id="site_content">
			<div class="container">

		    <div class="container">
				<div class="12u">
					<div id="wrapper-banner">
						<!-- Banner -->
						<div id="banner">
							<center>
							<a href="#"><img src="images/doubletree_river.jpg" style="width:50%;" alt="banner image" /></a>
							</center>
						</div>
					</div>
				</div>
			</div>

			<!-- Features -->
				<div class="row">

					<section class="12u">
						<h2>Accommodations</h2>
						<p>A hotel block has been reserved at the <a target="_blank" href="http://doubletree3.hilton.com/en/hotels/montana/doubletree-by-hilton-hotel-missoula-edgewater-RLMV-DT/index.html">DoubleTree Missoula Edgewater</a>. We did not reserve a block at the <a target="_blank" href="https://www.ihg.com/holidayinn/hotels/us/en/missoula/msumt/hoteldetail">Holiday Inn Missoula Downtown</a>, but you may also consider staying there. We selected these hotels because they provide easy walking access to the riverfront and downtown, which will make for a delightful stay. We recommend booking sooner rather than later, as Missoula is a popular destination and there are many other events throughout the summer. Shuttle service to the wedding venue will be provided from the DoubleTree hotel (the two hotels are very close to each other). The wedding venue is a 25-minute drive west of Missoula.</p>
						<p><a target="_blank" href="http://doubletree3.hilton.com/en/hotels/montana/doubletree-by-hilton-hotel-missoula-edgewater-RLMV-DT/index.html">DoubleTree by Hilton Hotel Missoula - Edgewater</a></p>
                        <p><a target = "_blank" href="http://doubletree.hilton.com/en/dt/groups/personalized/R/RLMV-DT-MRW-20180531/index.jhtml?WT.mc_id=POG">Our DoubleTree Hotel Block Link</a></p>
						<p>100 Madison St, Missoula, MT 59802</p>
                        <p>(406) 728-3100</p>
                        <p> </p>
						<p><a target="_blank" href="https://www.ihg.com/holidayinn/hotels/us/en/missoula/msumt/hoteldetail">Holiday Inn Missoula Downtown</a></p>
                        <p>200 S Pattee St, Missoula, MT 59802</p>
                        <p>(406) 721-8550</p>
					</section>

				</div>
		    </div>
		</div>

		<div class="footer-wrapper">
			<div class="container">
			<!-- Footer -->
				<footer>
					<p><a href="{{ url_for('home') }}">Home</a> | <a href="{{ url_for('ourstory') }}">Our Story</a> | <a href="{{ url_for('accommodations') }}">Accommodations</a> | <a href="{{ url_for('rsvp') }}">RSVP</a> | <a href="{{ url_for('visitinfo') }}">Things to Do</a> | <a href="{{ url_for('beers') }}">Nick's Brew</a> | <li><a href="{{ url_for('registry') }}">Registry</a></li></p>
				</footer>
			</div>
		</div>
	</body>
</html>
