<!DOCTYPE HTML>
<html>
	<head>
		<title>Laura and Nick - Nick's Brew</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600|Source+Code+Pro" rel="stylesheet" />
		<!--[if lte IE 8]><script src="js/html5shiv.js" type="text/javascript"></script><![endif]-->
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js">
		{
			prefix: 'css/style',
			preloadStyleSheets: true,
			resetCSS: true,
			boxModel: 'border',
			grid: { gutters: 30 },
			breakpoints: {
				wide: { range: '1200-', containers: 1140, grid: { gutters: 50 } },
				narrow: { range: '481-1199', containers: 960 },
				mobile: { range: '-480', containers: 'fluid', lockViewport: true, grid: { collapse: true } }
			}
		}
		</script>
		<script>
			$(function() {

				// Note: make sure you call dropotron on the top level <ul>
				$('#main-nav > ul').dropotron({
					offsetY: -10 // Nudge up submenus by 10px to account for padding
				});

			});
		</script>
		<script>
			// DOM ready
			$(function() {

			// Create the dropdown base
			$("<select />").appendTo("nav");

			// Create default option "Go to..."
			$("<option />", {
				"selected": "selected",
				"value"   : "",
				"text"    : "Menu"
			}).appendTo("nav select");

			// Populate dropdown with menu items
			$("nav a").each(function() {
			var el = $(this);
			$("<option />", {
				"value"   : el.attr("href"),
				"text"    : el.text()
			}).appendTo("nav select");
			});

			// To make dropdown actually work
			// To make more unobtrusive: http://css-tricks.com/4064-unobtrusive-page-changer/
			$("nav select").change(function() {
				window.location = $(this).find("option:selected").val();
			});

			});
		</script>
	</head>
	<body>
		<div id="header_container">
		    <div class="container">
			<!-- Header -->
				<div id="header" class="row">

					<nav id="main-nav" class="8u">
						<ul>
							<li><a href="{{ url_for('home') }}">Home</a></li>
							<li><a href="{{ url_for('ourstory') }}">Our Story</a></li>
							<li><a href="{{ url_for('accommodations') }}">Accommodations</a></li>
							<li><a href="{{ url_for('rsvp') }}">RSVP</a></li>
							<li><a href="{{ url_for('visitinfo') }}">Things to Do</a></li>
                            <li><a class="active" href="{{ url_for('beers') }}">Nick's Brew</a></li>
                            <li><a href="{{ url_for('registry') }}">Registry</a></li>
						</ul>
					</nav>
				</div>
			</div>

		</div>

		<div id="site_content">
			<div class="container">

		    <div class="container" style="text-align: center">
				<div class="12u" style="text-align: center">
					<div id="wrapper-banner" style="text-align: center">
						<div class="holder" id="banner" style="text-align: center">
							<figure>
								<a href="#"><img align="middle" src="images/laura_nick.jpg" alt="banner image" style="width:550px"/></a>
							</figure>
						</div>
					</div>
				</div>
			</div>
				<p>Nick will be homebrewing several beers to serve at the reception. He will keep this page updated with more information as he brews throughout the year. Check back soon to see updates!</p>
            <div style="display:inline;text-align:left;margin-right:10px">
                <p><img src="images/saison.jpg" alt="beer1" style="float:left;width:15%;"><h3>Laura's Saison</h3>Laura loves belgian beer, and this is a beer that Nick has made before that she loves. It's a darker siason fermented on currants to add a dark fruit flavor. (6%)</p>
                <div style="clear:both;"></div>
            </div>
			<div style="display:inline;text-align:left;margin-right:10px">
                <p><img src="images/brown.jpg" alt="beer2" style="float:left;width:15%;"><h3>Nick's Brown</h3>One of Nick's favorite styles of beer is the malty and caramelly brown ale. Brewed with biscuit malt to really bring the toasted flavors out! (4.5%)</p>
                <div style="clear:both;"></div>
            </div>
            <div style="display:inline;text-align:left;margin-right:10px">
                <p><img src="images/ipa.jpg" alt="beer3" style="float:left;width:15%;"><h3>Hazy IPA</h3>The new IPA fad - Citrusy, hazy, and refreshing. Made with barley, wheat, oats, and lots of hops. (5%)</p>
                <div style="clear:both;"></div>
            </div>
			<div style="display:inline;text-align:left;margin-right:10px">
                <p><img src="images/cream.jpg" alt="beer4" style="float:left;width:15%;"><h3>Cream Ale</h3>A light, refreshing, crisp beer that is easy to drink. (4.5%)</p>
                <div style="clear:both;"></div>
            </div>
                <p style="text-align:center;font-size:30px"><a href="{{ url_for('rsvp') }}">RSVP</a></p>
		    </div>

		</div>

		<div class="footer-wrapper">
			<div class="container">
			<!-- Footer -->
				<footer>
					<p><a href="{{ url_for('home') }}">Home</a> | <a href="{{ url_for('ourstory') }}">Our Story</a> | <a href="{{ url_for('accommodations') }}">Accommodations</a> | <a href="{{ url_for('rsvp') }}">RSVP</a> | <a href="{{ url_for('visitinfo') }}">Things to Do</a> | <a href="{{ url_for('beers') }}">Nick's Brew</a> | <li><a href="{{ url_for('registry') }}">Registry</a></li></p>
				</footer>
			</div>
		</div>
	</body>
</html>
